DB_Name = PBL6_Final
DATABASE_URL=postgres://postgres:123456@127.0.0.1:5432/PBL6_Final

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

JWT_SECRET=
JWT_EXPIRE=
PORT=8001

DB_DEV_USERNAME=
DB_DEV_PASSWORD=
DB_DEV_DATABASE=
DB_DEV_HOST=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

